<!DOCTYPE html>

<html lang="en">


<head>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Simple Todo App</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mind-Space</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

        {% if true  %}
        <button type="button" class="btn btn-danger ml-auto" data-toggle="modal" data-target="#newItemModal">
          Log-Out
        </button>
        {% else %}
        <button type="button" class="btn btn-primary ml-auto" data-toggle="modal" data-target="#newItemModal">
          Log-In
        </button>
        {% endif %}

      </ul>
    </div>
  </nav>
</body>



<body>
  <style>
    add-view-function {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }

    bin-function {
      position: fixed;
      bottom: 20px;
      left: 20px;
    }
  </style>

  <div class="btn-group" role="group" aria-label="Basic example"></div>
  <add-view-function> <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newItemModal">
      👀 </add-view-function>
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newItemModal"> + </button>
  </div>

  <bin-function> <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#newItemModal"> 🗑️
    </button>
  </bin-function>
</body>

<!-- Javascript support for bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>

</html>