<!DOCTYPE html>

<html lang="en">

<head>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <title>Mind-Space</title>

  <style>
    add-view-function {
      position: fixed;
      bottom: 25px;
      right: 25px;
    }

    bin-function {
      position: fixed;
      bottom: 25px;
      left: 25px;
    }

    .workspace {
      display: inline-block;
      /* Change width and height according to screen size*/
      width: 1920px;
      height: 880px;
      /*height is -200px due to navigation bar*/
      background-color: rgb(228, 222, 222);
    }

    .message_box {
      display: inline-block;
      width: 250px;
      height: 150px;
      border: 1px solid silver;
      background-color: white;
    }

    .message_colour {
      --color: white;
    }
  </style>
</head>

<body>
  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Top Right Brand -->
    <a class="navbar-brand" href="/">Mind-Space</a> </button>
  </nav>

  <!-- Set up canvas -->
  <div class="workspace">
    <div>
      <div class="btn-group" role="group" aria-label="Basic example"></div>
      <add-view-function> <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newItemModal"
          style="height:65px; width:75px"> + </button> </add-view-function>
    </div>

    <!-- Delete box (Bottom Left) -->
    <bin-function>
      <button type="button" class="btn btn-danger" style="height:65px; width:75px"> 🗑️ </button>
    </bin-function>

    <!-- Create the boxes with messages extracted from database -->
    <!-- Location of boxes needs to be saved into database-->
    <div>
      {% for note in notes %}

      <div class="message_box" id={{note.id}} style="top: {{note.yCoordinate}}px; left: {{note.xCoordinate}}px">
        <h6 class="card-header primary-color" style="text-align:left; background-color: {{note.colour}};"
          id={{note.id}}>
          {% if note.name == '' %}
          <span style="opacity:0;">Fill</span>
          {% else %}
          {{note.name}}
          {% endif %}

          <span style="float:right;">
            {% if note.important is not none %}
            ⭐
            {% endif %}
          </span>
        </h6>

        <div class="card-body">

          <p class="card-text">
            {% if note.description == '' %}
            <span style="opacity:0;">Fill</span>
            {% else %}
            {{note.description}}
            {% endif %}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- Ask for input from user to be placed into database -->
    <div class="modal fade" id="newItemModal" data-backdrop="static" tabindex="-1" role="dialog"
      aria-labelledby="newItemModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">

            <form action="/notes/" method="POST">
              <div class="form-group">
                <label for="taskName">Title </label>
                <input name="taskName" type="text" maxlength=20 class="form-control" id="taskName" />
              </div>

              <div class="form-group">
                <label for="taskDescription">Description</label>
                <textarea name="taskDescription" maxlength=25 class="form-control" id="taskDescription"></textarea>
              </div>

              <div class="form-group">
                <label for="taskColour">Pick a Colour</label>
                <select name="Pick a Colour" class="form-control">
                  <option>Grey</option>
                  <option>Blue</option>
                  <option>Orange</option>
                  <option>Green</option>
                  <option>Yellow</option>
                  <option>Red</option>
                </select>
              </div>

              <!-- Extra line in forum to make it neater -->
              <p></p>

              <input class="form-group" type="checkbox" id="taskImportant" name="taskImportant"
                style="text-align:left;">
              <label class="form-check-label" for="taskImportant">
                Star
              </label>
              <span style="float:right;">
                <a class="btn btn-danger mr-auto" href="/">Close</a> </button>
                <button type="submit" class="btn btn-success">Add</button>
              </span>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- Dragging the box functions -->
<script>
  $('.workspace').droppable({
    tolerance: 'fit',
  });

  $('.message_box').draggable({
    stop: updateBox,
    revert: 'invalid',

  });

  $('.message_box').droppable({
    greedy: true,
    tolerance: 'touch',
    workspace: function (event, ui) {
      ui.draggable.draggable();
    }
  });

  function updateBox() {
    var coordX = $(this).offset().left
    var coordY = Math.round($(this).offset().top)

    // Change number to a float if int
    if (Number.isInteger(coordX)) {
      coordX += 0.01
    }

    // Send coords to update with id
    moving = `${this.id}`
    redirectPost('/notes/update/' + moving + '/' + coordX + '/' + coordY + '/')

    // Check if box should be binned
    if (bin) {
      this.style.display = 'none'
      hiddenElements = $(':hidden');
      for (const [key, object] of Object.entries(hiddenElements)) {
        // key where id is located
        if (key == 9) {
          toRemove = `${object.id}`
          redirectPost('/notes/delete/' + toRemove + '/' + coordX + '/' + coordY + '/')
        }
      }
    }

  };

  // Check if user is hovering delete button
  bin = false
  $(document).ready(function () {
    $("bin-function").hover(function () {
      bin = true
    }, function () {
      bin = false
    });
  });

  // https://stackoverflow.com/questions/19064352/how-to-redirect-through-post-method-using-javascript/27766998
  function redirectPost(url, data) {
    var form = document.createElement('form');
    document.body.appendChild(form);
    form.method = 'post';
    form.action = url;
    for (var name in data) {
      var input = document.createElement('input');
      input.type = 'hidden';
      input.name = name;
      input.value = data[name];
      form.appendChild(input);
    }
    form.submit();
  }
  //
</script>

<!-- Javascript support for bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>
